<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirigir todas las solicitudes a tu archivo principal de la aplicación (por ejemplo, index.html o index.php)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.html [L]
</IfModule>