body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* En tu archivo CSS o en tu componente de estilo */
.custom-toggler .navbar-toggler-icon {
  color: white; /* Establece el color del ícono en blanco */
}

.content-container {
  background-color: #fff; /* Fondo blanco */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin: 20px; /* Espaciado externo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}